<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>18/03/21 11:43:10</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.LaunchApplication()[pri:0, instance:com.qa.test.LoginTest@5383967b]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/03/21 11:43:01</td>   <td>-8620</td> <td title="&gt;&gt;LoginTest.LaunchBrowser()[pri:0, instance:com.qa.test.LoginTest@5383967b]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/03/21 11:43:21</td>   <td>10985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginApplication()[pri:0, instance:com.qa.test.LoginTest@5383967b]">LoginApplication</td> 
  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/03/21 11:44:00</td>   <td>49735</td> <td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.qa.test.LoginTest@5383967b]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
</table>
